body {
	background-color: #7d7a61;
	color: #000000;
	font-family: 'Alegreya', serif;
}
nav a {
	color: #FFFFFF;
}
header {
	text-align: center;
	padding: 10px 0px 50px 0px;
	background-image: url('../images/CoatofArms.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size:contain;
}
nav i {
	color: #f05185;
}
h1 {
	color: #5d6db3;
	padding-bottom: 20px;
	font-family: 'Niconne', cursive;
	font-size: 50px;
}
.content {
	background-color: #e6e6e6;
	color: #000000;
	padding: 20px 0px 20px 0px;
}
.titleRow {
	background-color: #5d6db3;
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Niconne', cursive;
}
#homeSlideshow img {
	max-height: 400px;
	max-width: 100%;
	margin: 0 auto;
}
#homeSlideshow {
	margin: 0px 0px 40px 0px;
}
