body {
  font-family: "Baskerville", serif;
  font-style:normal;
  font-size:15px;
  color:black;
  margin: 95px 0px 0px 0px;
  background-color:white;
}
.new-section {
  padding-bottom:15px;
}
.new-section:nth-child(odd) {
  background-color:#d1d1d1;
}
.btn {
  background-color:#d1d1d1;
}
hr {
  color:black;
  background-color:black;
}
h1 {
  font-family: "Baskerville",cursive,serif;
  color:white;
  font-style:italic;
  font-size:45px;
}
h2, .modal-title {
  font-family: "Baskerville",cursive,serif;
  font-style:italic;
  font-size:35px;
  color:#7d89c1;
}
h3 {
  font-family: "Baskerville",sans-serif;
  font-style:normal;
  font-size:25px;
  color:black;
}
h4 {
  font-family: "Baskerville",sans-serif;
  font-style:normal;
  font-size:20px;
  color:black;
}
p {
  text-align:left;
  text-indent:40px;
}
header {
  z-index:999;
  background-color:#7d89c1;
  color:white;
  position:fixed;
  top:0px;
  width:100%;
  height:80px;
}
.notice {
  font-style:italic;
}
/* CSS to override default ekko lightbox styles */
.modal-body {
  white-space:normal;
  overflow-y:scroll;
}
